main.container {
  padding-top: 80px;
}

.messages{
  list-style-type: none;
  padding-left:0;
}

.messages li{
  padding: 10px 20px;
  margin-bottom: 10px;
  background: #87FC70;
  border-radius: 10px;
}

.messages .sent {
  background: cornflowerblue;
  text-align: right;
}
